/* ================= Navigational Bar ================== */

.nav-items {
    font-size: 14px;
    font-weight: 300;
    color: rgb(107, 107, 107);
    border-radius: 10px;
    /* padding: 5px 8px; */
}

.nav-items:hover {
    color: blueviolet;
    background-color: whitesmoke;
}

.search-icon {
    left: 30px;
    color: rgb(142, 141, 141);
}

.search {
    width: 420px;
}

.input {
    font-size: 14px;
    color: rgb(142, 141, 141);
    border-color: rgb(118, 117, 117) !important;
    padding-left: 35px !important;
    padding: 13px 0;
}

.input:hover {
    background-color: whitesmoke;
}

.login-btn {
    border-color: blueviolet !important;
    color: blueviolet;
    font-weight: bold;
    font-size: 14px;
    padding: 9px 14px !important;
}

.login-btn:hover {
    background-color: whitesmoke !important;
    color: blueviolet;
}

.signup-btn {
    background-color: blueviolet;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px !important;
}

.signup-btn:hover {
    background-color: rgba(137, 43, 226, 0.888);
}

.fa-globe {
    color: black;
    font-size: 16px;
}

.fa-cart-shopping {
    padding: 12px;
    border-radius: 10px;
}

.fa-cart-shopping:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

@media (max-width: 992px) {
    .login-btn {
        margin: 8px 0;
    }

    .search-icon {
        top: 35px;
        left: 20px;
    }

    .search {
        width: 350px;
    }
}

/*========================== Hero Section ======================== */
.hero-title {
    color: black;
    margin-bottom: 10px;
}

.hero-text {
    color: rgb(72, 72, 72);
    font-weight: 200;
}

@media (max-width: 650px) {
    .hero-card {
        position: static !important;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .hero-card .card-body {
        padding: 0 !important;
    }
}

/* ========================= Skills Section ========================== */
.left-section p {
    color: rgb(72, 72, 72);
    font-weight: 100;
}

.overlay-text {
    background-color: white;
    margin: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 15px;
    padding: 0 20px !important;
}

.overlay-text h6 {
    padding: 30px 0;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 650px) {
    .skills-section {
        flex-direction: column;
    }
}

@media (max-width: 470px) {
    .carousel-item img {
        height: 200px;
    }

    .overlay-text {
        margin: 5px;
        padding: 0 10px !important;
    }

    .overlay-text h6 {
        padding: 15px 0;
    }
}

/* ================= Trending Courses ===================== */
.course-title {
    font-size: 17px;
}

.instructor-name {
    font-size: 12px;
    color: rgb(72, 72, 72);
}

.seller-quality {
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(191, 229, 229);
    padding: 2px 6px;
    border-radius: 5px;
}

.review {
    font-size: 13px;
    font-weight: 200;
    color: rgb(78, 77, 77);
    border: 1px solid rgb(143, 142, 142);
    padding: 1px 6px;
    border-radius: 5px;
}

.review .fa-star {
    color: rgb(165, 137, 12);
    font-size: 10px;
    margin-right: 3px;
}


.rating {
    font-size: 12px;
    font-weight: 200;
    color: rgb(78, 77, 77);
    border: 1px solid rgb(143, 142, 142);
    padding: 1px 6px;
    border-radius: 5px;
}

.price {
    font-weight: bold;
}

.price del {
    font-weight: 300;
    color: rgb(78, 77, 77);
    margin-left: 5px;
}

.course-card:hover {
    background-color: rgba(239, 238, 238, 0.8);
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    top: 40%;
    opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: black;
    font-size: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(237, 237, 237);
    opacity: 1;
}

/* ================= Personal Plan Banner =============== */
.right img {
    width: 650px;
    height: 450px;
}

.left ul li img {
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: rgb(196, 160, 230);
    border-radius: 50%;
}

.left-title {
    color: white;
}

.left-text {
    color: rgb(216, 215, 215);
    font-weight: 200;
}

.left ul li {
    color: white;
    list-style: none;
    line-height: 40px;
    margin-left: -30px;
}

.left button {
    padding: 7px 60px;
    font-weight: 600;
}

.left .small {
    color: rgb(216, 215, 215);
    font-size: 15px;
    font-weight: 200;
    margin-top: 8px;
}

@media (max-width: 1100px) {
    .right img {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 950px) {
    .lg-container {
        flex-direction: column;
    }

    .right img {
        width: 650px;
        height: 450px;
    }

    .left button {
        padding: 8px 150px;
        font-weight: 600;
    }
}

@media (max-width: 720px) {
    .right img {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 580px) {
    .right img {
        width: 400px;
        height: 300px;
    }

    .left button {
        padding: 8px 100px;
        font-weight: 600;
    }
}

@media (max-width: 380px) {
    .right img {
        width: 250px;
        height: 180px;
    }

    .left button {
        padding: 8px 50px;
        font-weight: 600;
    }

    .lg-container {
        padding: 20px !important;
    }
}

/* =============== Get Certificate ============== */
.card-img-container .card img {
    width: 100%;
}

.card-img-container .card:hover {
    opacity: 0.8;
}

.text-container a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.text-container a:hover {
    cursor: pointer;
    background-color: rgb(31, 30, 30);
}

@media (max-width: 768px) {
    .card-img-container .card {
        width: 180px !important;
        height: auto !important;
    }
}

@media (max-width: 600px) {
    .card-img-container .card {
        width: 100% !important;
        margin-bottom: 12px;
    }

    .card-img-container {
        flex-direction: column;
        padding: 0 15px !important;
    }
}

/* =========== Imagine your career ============= */
@media (max-width: 700px) {
    .career-card-container {
        flex-direction: column;
    }

    .career-card-container .card {
        width: 100% !important;
        margin-bottom: 12px;
    }
}

/* =========== Footer Section ============== */
.first-footer a {
    text-decoration: none;
    color: rgb(101, 37, 158);
}
@media (max-width: 1000px) {
    .first-footer {
        flex-direction: column;
        align-items: start !important;
    }
}

.second-footer .list ul li  {
    list-style: none;
}

.second-footer .list ul li a {
    text-decoration: none;
    margin-left: -32px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    border-bottom: 1px solid transparent;
}

.second-footer .list ul li a:hover {
    border-color: aliceblue;
}

.list h5 {
    font-size: 16px;
}

@media (max-width: 700px) {
    .second-footer {
        flex-direction: column !important;
    }

    .second-footer .list {
        margin-bottom: 20px;
    }
}

.third-footer img {
    width: 100px;
    height: 100px;
}